{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/homepage.css') }}">
{% endblock %}

{% block body %}

    <section id="cars">
        <div class="container">
            <div class="row Logo">
                <img src="{{ asset('asset/img/Logo.png') }}">
            </div>
            <h2>Annonces récente</h2>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-6">
                        <h3>
                            {{ article.title }}
                        </h3>
                        <div class="picture">
                            <img src="{{ asset('uploads/images/' ~ article.mainPicture) }}">
                            <div class="content">
                                <p>Garantie</p>
                            </div>
                        </div>
                        <h4>
                            <div class="col-md-12 years_miles_energy">
                                <span class="years">{{ article.years }}</span><span class="miles">{{ article.miles }} Km</span><span class="energy">{{ article.energy }}</span>
                            </div>
                        </h4>
                        <h3>
                            <div class="col-md-12 price">
                                Prix : {{ article.price }} €
                            </div>
                        </h3>
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="{{ path('article_show', { 'id': article.id }) }}">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    <a href="{{ path('vehicules_index') }}" class="btn btn-lg btn-primary">Voir tout nos vehicules</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
    <section id="garanty">
        <div class="container">
            <h2>Notre partenaire garantie</h2>
            <div class="row">
                <div class="col-md-8 text wow zoomIn">
                    <div class="border">
                        <h3>Profitez de notre expérience de presque 50 ans!</h3>
                        <ul>
                            <li> Avec 2.1 millions de contrats de garantie, CarGarantie est l'un des specialistes de la garantie les plus importants d'Europe</li>
                            <li> Présence dans 23 pays</li>
                            <li> Partenaire contractuel d'environ 23 000 distributeurs automobiles</li>
                            <li> Plus de 30 constructeurs et importateurs font confiance a CarGarantie</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 logo_cg">
                    <img src="{{ asset('asset/img/logo-cg.png') }}">
                </div>
            </div>
        </div>
    </section>
    {% for message in app.flashes('success') %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

