{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/cars.css') }}">
{% endblock %}

{% block body %}
    <section id="cars_index">
        <div class="container">
            <div class="row">
                <h1>Nos Vehicules</h1>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4">
                        <h3>
                            {{ article.title }}
                        </h3>
                        <div class="picture">
                            <img src="{{ asset('uploads/images/' ~ article.mainPicture) }}">
                            <div class="content">
                                <p>Garantie</p>
                            </div>
                        </div>
                        <h4>
                            <div class="col-md-12 years_miles_energy">
                                <span class="years">{{ article.years }}</span><span class="miles">{{ article.miles }} Km</span><span class="energy">{{ article.energy }}</span>
                            </div>
                        </h4>
                        <h3>
                            <div class="col-md-12 price">
                                Prix : {{ article.price }} €
                            </div>
                        </h3>
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="{{ path('article_show', { 'id': article.id }) }}">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
        </div>
    </section>


{% endblock %}