{% extends 'baseAdmin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin_Article.css') }}">
{% endblock %}

{% block body %}
    <section id="cars_news">
        <div class="container">
            <div class="row">
                <h1>Nouveau vehicule</h1>

                {{ form_start(form) }}
                <div>
                    <h3 class="title">Titre</h3>
                    {{ form_widget(form.title) }}
                </div>
                <div>
                    <h3 class="years">Année</h3>
                    {{ form_widget(form.years) }}
                </div>
                <div>
                    <h3 class="years">Kilometres</h3>
                    {{ form_widget(form.miles) }}
                </div>
                <div>
                    <h3 class="years">Energie</h3>
                    {{ form_widget(form.energy) }}
                </div>
                <div>
                    <h3 class="content">Description</h3>
                    {{ form_widget(form.content) }}
                </div>
                <div>
                    <h3 class="price">Prix</h3>
                    {{ form_widget(form.price) }}
                </div>
                <div>
                    <h3 class="mainPicture">Photo Principale</h3>
                    {{ form_widget(form.mainPicture) }}
                </div>
                <div>
                    <h3 class="galleryPicture">Gallery Photo</h3>
                    {{ form_widget(form.galleryPicture) }}
                </div>
                <div class="btn_create">
                    <input type="submit" value="Créer" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
                <div>
                    <a href="{{ path('article_index') }}">retouner a la liste des vehicules</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
