{% extends 'baseAdmin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin_Article.css') }}">
{% endblock %}

{% block body %}
    <section id="cars_news">
        <div class="container">
            <div class="row">
                <h1>Nouveau vehicule</h1>

                {{ form_start(form) }}
                <div>
                    <h3 class="title">Titre</h3>
                    {{ form_widget(form.title) }}
                    <div class="errors">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div>
                    <h3 class="years">Année</h3>
                    {{ form_widget(form.years) }}
                    <div class="errors">
                        {{ form_errors(form.years) }}
                    </div>
                </div>
                <div>
                    <h3 class="years">Kilometres</h3>
                    {{ form_widget(form.miles) }}
                    <div class="errors">
                        {{ form_errors(form.miles) }}
                    </div>
                </div>
                <div>
                    <h3 class="years">Energie</h3>
                    {{ form_widget(form.energy) }}
                    <div class="errors">
                        {{ form_errors(form.energy) }}
                    </div>
                </div>
                <div>
                    <h3 class="content">Description</h3>
                    {{ form_widget(form.content) }}
                    <div class="errors">
                        {{ form_errors(form.content) }}
                    </div>
                </div>
                <div>
                    <h3 class="price">Prix</h3>
                    {{ form_widget(form.price) }}
                    <div class="errors">
                        {{ form_errors(form.price) }}
                    </div>
                </div>
                <div>
                    <h3 class="mainPicture">Photo Principale</h3>
                    {{ form_widget(form.mainPicture) }}
                </div>
                <div>
                    <h3 class="galleryPicture">Gallery Photo</h3>
                    {{ form_widget(form.galleryPicture) }}
                </div>
                <div class="btn_create">
                    <input type="submit" value="Créer" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
                <div>
                    <a href="{{ path('article_index') }}">retouner a la liste des vehicules</a>
                </div>
            </div>
        </div>
    </section>
    {% for message in app.flashes('no_picture') %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
